<div>
  <h3>Signal Example Component</h3>
  <!-- a normal function would trigger an infinite loop -->
  <!-- <p>Normal function: {{normalFunction()}}</p> -->
  <p>Signal value: {{numberSignal()}}</p>
  <button (click)="update()">Update</button>
  <hr>
  <p>Effect value: {{effectValue}}</p>
  <p>Non-effect value: {{nonEffectValue}}</p>
  <h4>Souces:</h4>
  <a href="https://dev.to/this-is-angular/angular-signals-everything-you-need-to-know-2b7g">Angular Signals article</a>
  <a href="https://www.youtube.com/watch?v=IY-QOz4oLCE">Angular: A Design Review 10 Years Later (35 min)</a>
  <a href="https://www.youtube.com/watch?v=HstDoVQeP9g">Signals in Angular (5 hours)</a>
</div>

